<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:title="Help"
        app:showAsAction="ifRoom"
        android:id="@+id/help"/>
    <item
        android:title="About"
        android:id="@+id/about">
        <menu>
            <item
                android:title="Product"
                android:id="@+id/product"/>
            <item
                android:title="Developers"
                android:id="@+id/developers"/>
        </menu>
    </item>
</menu>
